<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<form class="form-inline text-left" name="editForm" keypress-enter="submit()" keypress-esc="cancel()">
			<h3 ng-show="isEdition"  class="text-center" translate="label.class.edit.speaker"></h3>
			<h3 ng-show="isCreation" class="text-center" translate="label.class.create.speaker"></h3>
			<h3 ng-show="isDeletion" class="text-center" translate="label.class.delete.speaker"></h3>
			<h3 ng-show="isView"     class="text-center" translate="label.class.singular.speaker"></h3>			
			<fieldset ng-show="dataReceived">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="inputName">Name</label>
						<div>
							<input id="inputName" 
								   name="inputName"
								   type="text" 
								   class="form-control" 
								   placeholder="Name" 
								   ng-model="obj.name" 
								   ng-readonly="readOnly"
								   required auto-focus />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputSurname">Surname</label>
						<div>
							<input id="inputSurname" 
								   name="inputSurname"
								   type="text" 
								   class="form-control" 
								   placeholder="Surname" 
								   ng-model="obj.surname" 
								   ng-readonly="readOnly"
								   required />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputPhoto">Photo</label>
						<div>
							<image-selector 
								   id="inputPhoto" 
								   name="inputPhoto"
								   ng-model="obj.photo" 
								   readonly="readOnly"
								   ng-required="false"
								   width="150"
								   options=""/>
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputBlog">Blog</label>
						<div>
							<input id="inputBlog" 
								   name="inputBlog"
								   type="text" 
								   class="form-control" 
								   placeholder="Blog" 
								   ng-model="obj.blog" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputTwitter">Twitter</label>
						<div>
							<input id="inputTwitter" 
								   name="inputTwitter"
								   type="text" 
								   class="form-control" 
								   placeholder="Twitter" 
								   ng-model="obj.twitter" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputLinkedin">Linkedin</label>
						<div>
							<input id="inputLinkedin" 
								   name="inputLinkedin"
								   type="text" 
								   class="form-control" 
								   placeholder="Linkedin" 
								   ng-model="obj.linkedin" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputGithub">Github</label>
						<div>
							<input id="inputGithub" 
								   name="inputGithub"
								   type="text" 
								   class="form-control" 
								   placeholder="Github" 
								   ng-model="obj.github" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
					<div class="form-group col-md-4">
						<label for="inputBio">Bio</label>
						<div>
							<input id="inputBio" 
								   name="inputBio"
								   type="text" 
								   class="form-control" 
								   placeholder="Bio" 
								   ng-model="obj.bio" 
								   ng-readonly="readOnly"
								    />
						</div>
					</div>
				</div>
			</fieldset>
			<div class="row">	
				<error-zone ng-model="errors"></error-zone>
			</div>

			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
			<div ng-show="uiWorking" class="loader"><img src="images/loader.gif" alt="Working..." /></div>

			<div class="row acc-buttons">
				<button type="button" ng-show="isView" class="btn btn-default" ng-click="cancel($event)">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span translate="cmd.back"></span>
				</button>
				<button type="button" ng-show="isCreation" class="btn btn-primary" ng-click="add()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-plus"></span>
					<span translate="cmd.create"></span>
				</button>
				<button type="button" ng-show="isEdition" class="btn btn-primary" ng-click="update()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-save"></span>
					<span translate="cmd.update"></span>
				</button>
				<button type="button" ng-show="isDeletion" class="btn btn-primary" ng-click="delete()">
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.delete"></span>
				</button>
				<button type="button" ng-show="canEdit" class="btn btn-primary" ng-click="gotoEdit()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-pencil"></span>
					<span translate="cmd.modify"></span>
				</button>
				<button type="button" ng-hide="isView" class="btn btn-default" ng-click="cancel($event)">
					<span translate="cmd.cancel"></span>
				</button>
				<button type="button" ng-show="canDelete" class="btn btn-primary pull-right" ng-click="gotoDelete()" ng-disabled="editForm.$invalid" >
					<span class="glyphicon glyphicon-trash"></span>
					<span translate="cmd.confirmDeletion"></span>
				</button>					
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
</div>
