<div class="input-group timeSelector">
	<input type="text" class="form-control" ng-required="required" ng-disabled="readonly"
	       datetime-picker="HH:mm"  enable-date="false" ng-model="ngModel" is-open="openedDialog" 
	       timepicker-options="timeOptions"
		   clear-text="{{'dates.clear' | translate}}"
		   close-text="{{'dates.close' | translate}}"
		   now-text="{{'dates.now' | translate}}"
	       />
	<span class="input-group-btn" >
		<button type="button" class="btn btn-default" ng-disabled="readonly" ng-click="openCalendar($event)"><i class="fa fa-clock-o"></i></button>
	</span>
</div>